.plans {
    position: relative;
    padding: 70px 24px;
    display: grid;
    place-items: center;

    * {
        position: relative;
        z-index: 1;
        font-family: Inter;
        color: var(--black);
    }
}

.plans::before {
    content: "";
    position: absolute;
    bottom: -130%;
    left: 50%;
    width: 100%;
    height: 200%;
    background: var(--primary-5);
    filter: blur(1000px);
    transform: translateX(-50%);
    z-index: -1;
    border-radius: 50%;
}

.container {
    width: 100%;
    max-width: 1200px;
}

.plans .container > header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    h3 {
        font-size: 34px;
        font-weight: 700;
        text-align: center;
        max-width: 245px;
    }

    h5 {
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        max-width: 360px;
    }
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

@media (min-width: 900px) {
    .plans .container > header .plansText {
        max-width: unset;
    }
}

@media (min-width: 1100px) {
    .plans {
        padding: 100px 24px 115px;
    }

    .plans .container > header {
        margin-bottom: 56px;

        h3 {
        font-size: 50px;
        max-width: none;
        }

        h4 {
        max-width: none;
        }
    }

    .list {
        flex-direction: row;
    }
}
