.article {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 43px;
}

.container {
    position: relative;
    width: 100%;
    min-height: 250px;
    z-index: 2;
    gap: 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.children {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    position: relative;
    width: 100%;
    max-width: 413px;
    z-index: 3;
    background-color: var(--primary-9);
    margin-left: auto;
    aspect-ratio: 3/4;
    border-radius: 20px;
}

.skeletonBlock {
    position: relative !important; 
    top: auto !important;
    scale: 1 !important;
    opacity: 1 !important;
    transition: none !important;
    display: block;
    border-radius: 6px; 
    overflow: hidden;
    background-color: #f3f3f3; 
    background: linear-gradient(90deg, #f3f3f3 25%, #eaeaea 50%, #f3f3f3 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

.skeletonBlock.title {
    width: 85%;
    height: 44px; 
    margin-bottom: 10px; 
}

.skeletonBlock.text {
    width: 95%; 
    height: 28px;
    margin-top: 58px; 
}

.skeletonBlock.button {
    width: 200px; 
    height: 42px;
    margin-top: 58px; 
    border-radius: 8px; 
}

.skeletonBlock.image {
    width: 100%;
    height: 100%;
    border-radius: 20px; 
}