.skeletonContainer {
    padding-top: 4rem; 
    padding-left: 2rem; 
    padding-right: 2rem; 
    padding-bottom: 2rem;
    max-width: 56rem; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: var(--white); 
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1); 
    border-radius: 0.5rem; 
    margin-top: 2.5rem; 
    margin-bottom: 2.5rem; 
    border-top: 4px solid var(--primary); 
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite; 
}

.skeletonBlock {
    background: linear-gradient(90deg, #eee 25%, #f5f5f5 37%, #eee 63%);
    background-size: 400% 100%;
    animation: shimmer 1.4s ease infinite;
    border-radius: 8px;
}

.h1Block {
    height: 2rem; 
    width: 75%;
    margin-bottom: 1rem; 
    background-color: var(--primary-4); 
}

.pBlock {
    height: 1rem; 
    width: 50%; 
    margin-top: 1rem; 
    background-color: var(--primary-4);
}

.accentBlock {
    height: 1rem; 
    width: 33.333333%;
    margin-top: 1.5rem; 
    background-color: var(--primary-5); 
}

/* Animaciones */
@keyframes shimmer {
    0% { background-position: -400px 0; }
    100% { background-position: 400px 0; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

