.banner {
    width: 100%;
    padding-inline: 112px;
}

.banner .card {
    background: var(--white);
}

.card {
    position: relative;
    border-radius: 24px;
    gap: 120px;
    display: flex;
    padding: 104px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 14px 0px #5e60751a;
}

.card::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    box-shadow: 0px 32px 54px 0px #ff6c2e1c;
}

.logo {
    width: 228px;
    height: 60px;
    aspect-ratio: 3/1;
}

.text {
    max-width: 30ch;
    text-justify: inter-word;
}

.text,
.text strong {
    font: normal 600 30px/133% "Inter";
}

.text {
    color: var(--black);
}

.text strong {
    color: var(--primary);
}

@media (max-width: 900px) {
    .banner {
        padding-inline: 24px;
        margin-bottom: 24px;
    }

    .card {
        flex-direction: column;
        gap: 40px;
        padding: 30px;
    }

    .logo {
        width: 180px;
        height: auto;
    }

    .text,
    .text strong {
        font-family: Inter;
        font-weight: 600;
        font-style: Bold;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
    }
}
