.faqsSection {
  --max-width-text: 900px;
  --border: 1px solid var(--black-7);

  display: grid;
  place-items: center;
  padding-block: 110px;
  background-color: var(--primary-10);

  > div:first-of-type {
    width: 100%;
    max-width: 1000px;
    padding-inline: 24px;
  }

  * {
    font-family: Inter;
    font-weight: 500;
    line-height: 150%;
    color: var(--black);
  }
}

.faqHeader {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 45px;
}

.title {
  font-weight: 700;
  font-size: 38px;
  text-align: center;
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.faqItem {
  transition: all 0.3s ease;
}

.faqsSection .faqItem:last-of-type {
  border-bottom: var(--border);
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding-block: 22px;
  width: 100%;
  border: none;
  border-top: var(--border);
  background: transparent;
  cursor: pointer;

  > span /* question */ {
    font-size: 16px;
    font-weight: 700;
    text-align: start;
    max-width: var(--max-width-text);
  }

  > img /* arrow */ {
    width: 16px;
    transition: transform 0.3s ease;
  }

  > .rotate {
    transform: rotate(180deg);
  }
}

.answerWrapper {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.faqItem.open .answerWrapper {
  max-height: 500px;
  padding-bottom: 24px;
}

.answer p,
.answer li {
  font-size: 14px;
  font-weight: 400;
  max-width: var(--max-width-text);
}

.answer ul {
  list-style: disc;
  padding-left: 20px;
}

@media (min-width: 900px) {
  .faqHeader {
    gap: 30px;
    margin-bottom: 80px;
  }

  .title {
    font-size: 48px;
  }
}
