.errorContainer {
    padding: 4rem 2rem; 
    max-width: 60rem;
    margin: 2rem auto; 
    background-color: var(--white);
    border-left: 5px solid var(--color-error);
    border-radius: 8px;
    box-shadow: var(--shadow-2);
}

.errorTitle {
    font-size: 2rem; 
    font-weight: 700; 
    color: var(--color-error); 
    margin-bottom: 0.5rem;
}

.errorDetails {
    margin-top: 0.5rem;
    font-size: 1.125rem;
    color: var(--black-2); 
}

.errorPre {
    width: 100%;
    padding: 1rem;
    overflow-x: auto;
    background-color: var(--black-10);
    color: var(--black-1);
    margin-top: 1rem;
    border-radius: 4px;
    font-family: monospace;
}