.integrations {
    display: grid;
    place-items: center;
    padding-block: 94px 104px;
    background-color: var(--primary);
}

.container {
    gap: 58px;
    display: flex;
    flex-direction: column;
}

.integrationsHero {
    gap: 26px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.title {
    font: normal 700 40px/114% "Inter";
    color: var(--white);
    text-align: center;
}

.text {
    font: normal 600 18px/144% "Inter";
    letter-spacing: -0.2px;
    mix-blend-mode: normal;
    color: var(--white);
    text-align: center;
    opacity: 0.7;
}

.content {
    width: 100%;
    display: grid;
    gap: 40px 58px;
    grid-template-columns: repeat(3, 1fr);
}

.logoContainer {
    width: 100%;
    height: 100%;
}

.logo {
    width: 100%;
    height: 100%;
    max-height: 46px;
    object-fit: contain;
    object-position: center;
}

@media (max-width: 900px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 40px;
        padding-inline: 24px;
    }

    .logoContainer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title {
        font-family: Inter;
        font-weight: 700;
        font-style: Bold;
        font-size: 34px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
    }

    .text {
        font-family: Inter;
        font-weight: 600;
        font-style: Semi Bold;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.2px;
        text-align: center;
    }
}
