.deviceCard {
    gap: 8.53px;
    width: 100%;
    height: 100%;
    display: flex;
    max-width: 290px;
    border-radius: 6px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    align-items: flex-start;
    background: var(--white);
    border: 1.12632px solid var(--primary);
}

.image {
    width: 100%;
    height: 100%;
    display: grid;
    max-height: 138px;
    place-items: center;
}

.img {
    width: 100%;
    height: 138px;
    object-fit: contain;
    object-position: 0 center;
}

.container {
    gap: 12px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: flex-start;
}

.title {
    font: normal 500 18px/150% "Inter";
    color: var(--black);
}

.text {
    font: normal 500 16px/150% "Inter";
    color: #606060;
}

@media (min-width: 900px) {
    .deviceCard {
        padding: 14.6421px 13.0316px 24.7789px 21.4px;
    }
}
