.button {
    cursor: pointer;
    padding: 12px 22px;
    border-radius: 8px;
    background: var(--primary);
    border: 1.33px solid var(--primary);
    color: var(--white);
    font: normal 500 18px/178% "Inter";
    gap: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-out 0.3s;
}

.svg {
    aspect-ratio: 1/1;
    width: 14px;
    height: 14px;
    display: grid;
    place-items: center;
}

.svg > svg {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}

.svg > svg > path {
    fill: var(--white);
}

.button:hover {
    cursor: pointer;
    background: var(--secondary);
}

.button:active {
    background: var(--primary-2);
    scale: 0.95;
}
