* {
  user-select: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar {
  width: 4px;
  -webkit-appearance: none;
}

*::-webkit-scrollbar-thumb {
  border-radius: 50px;
  /* Usando el color hardcodeado para compatibilidad con el reset */
  background-color: #ff6c2e; 
  /* Usando el color hardcodeado para compatibilidad con el reset */
  border: 0px solid #fff8f5; 
}

:root {
  --vh: 1vh;
  font-style: normal;
  font-optical-sizing: auto;
  font-family: "Inter", sans-serif;

  /* Colores */
  --black: #363852;
  --white: #ffffff;
  --primary: #ff6c2e;
  --secondary: #e45e25;

  /* Primary */
  --primary-1: #ff6c2e;
  --primary-2: #ff7b43;
  --primary-3: #ff8a58;
  --primary-4: #ff986d;
  --primary-5: #ffa782;
  --primary-6: #ffb697;
  --primary-7: #ffc4ab;
  --primary-8: #ffd3c0;
  --primary-9: #ffe2d5;
  --primary-10: #fff0ea;
  --primary-11: #fff8f5;

  /* Secondary */
  --secondary-1: #e45e25;
  --secondary-2: #e67641;
  --secondary-3: #e98758;
  --secondary-4: #ec9870;
  --secondary-5: #efa988;

  /* Black */
  --black-1: #363852;
  --black-2: #4a4c63;
  --black-3: #5e6075;
  --black-4: #727486;
  --black-5: #868897;
  --black-6: #9b9ba8;
  --black-7: #afafba;
  --black-8: #c3c3cb;
  --black-9: #d7d7dc;
  --black-10: #ebebee;
  --black-11: #f5f5f6;

  /* Common */
  --background: #f4f4f5;
  --background-1: #fafcff;
  --background-2: #fffbfc;

  --shadow-1: 0px 8px 16px rgba(62, 19, 77, 0.07);
  --shadow-2: 0px 15px 30px rgba(62, 19, 77, 0.09);
  --shadow-3: 0px 10px 30px rgba(62, 19, 77, 0.47);

  /* Defaults */
  --color-link: #bdb2ff;
  --color-error: #e63946;
  --color-approval: #00f5d4;
  --color-attention: #fdffb6;
}

body {
  width: 100%;
  height: calc(var(--vh) * 100);
  background: var(--background);
  min-height: calc(var(--vh) * 100);
}

div :is(h1, h2, h3, h4, h5, h6, p, span, a, strong, em, label, code) {
  user-select: text;
}

#root {
  width: 100%;
  height: 100%;
}