.comparePlansSection {
  padding: 42px 18px 80px;
  display: grid;
  place-items: center;
  background-color: var(--white);

  * {
    font-family: Inter;
    font-weight: 500;
    line-height: 150%;
    font-size: 12px;
    color: var(--black);
  }
}

.comparePlansSection > header {
  * {
    text-align: center;
    line-height: normal;
  }

  .captionTitle {
    font-weight: 600;
  }

  .title {
    font-size: 34px;
    font-weight: 700;
    margin: 16px auto 24px;
    max-width: 240px;
  }

  .description {
    font-size: 18px;
  }
}

.compareTable {
  width: 100%;
  max-width: 1200px;
  margin-top: 50px;
  border-collapse: collapse;
  border: none;
}

.compareTable th,
.compareTable td {
  border: none;
  text-align: center;
  padding: 2px;
}

.compareTable td span {
  font-size: 12px;
}

.compareTable thead tr th:first-child {
  font-weight: 700;
  vertical-align: bottom;
  padding-bottom: 24px;
}

.compareTable tbody tr td {
  border-bottom: 1px solid var(--black);
}

.compareTable tbody tr:nth-of-type(1) td,
.compareTable tbody tr:nth-of-type(3) td,
.compareTable tbody tr:nth-of-type(12) td {
  font-size: 14px;
}

.compareTable tbody tr:nth-of-type(1) td,
.compareTable tbody tr:nth-of-type(3) td {
  border-bottom: none;
  border-top: 1px solid var(--black);
}

.compareTable tbody tr:nth-of-type(12) td {
  border: none;
}

.compareTable tr th:first-child,
.compareTable tr td:first-child {
  text-align: start;
  padding-left: 0;
  font-weight: 400;
}

.planHeader img {
  display: none;
}

.planHeader:nth-child(2) img {
  opacity: 0.5;
}

.planHeader:nth-child(3) img {
  opacity: 0.7;
}

.planHeader:nth-child(4) img {
  opacity: 1;
}

.planTitle {
  font-weight: 700;
}

.planSubtitle {
  font-weight: 400;
}

.sectionTitle {
  background-color: var(--primary);
  color: var(--white);
  font-weight: 700 !important;
  text-align: left;
  padding-left: 8px !important;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.checkCell span {
  font-size: 16px;
  font-weight: 600;
}

@media (min-width: 900px) {
  .comparePlansSection {
    padding: 110px 24px 164px;

    * {
      font-size: 16px;
    }
  }

  .comparePlansSection > header {
    .title {
      font-size: 48px;
      max-width: none;
    }
  }

  .compareTable {
    margin-top: 80px;
  }

  .compareTable thead tr th:first-child {
    font-size: 20px;
  }

  .compareTable th,
  .compareTable td {
    padding: 16px;
  }

  .compareTable td span {
    font-size: 16px;
  }

  .compareTable tbody tr:nth-of-type(1) td,
  .compareTable tbody tr:nth-of-type(3) td,
  .compareTable tbody tr:nth-of-type(12) td {
    font-size: 16px;
  }

  .planTitle {
    font-size: 20px;
    margin-block: 8px;
  }

  .planHeader img {
    display: inline;
    pointer-events: none;
  }

  .sectionTitle {
    padding-left: 20px !important;
  }
}
