.footer {
    width: 100%;
    height: 266px;
    display: flex;
    padding: 84px 26px;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;
    background-color: var(--black);
    border-top: 1px solid rgba(134, 136, 151, 1);
}

.logo {
    width: 120px;
    height: auto;
    margin-bottom: 16px;
}
.footer p {
    font: normal 400 14px/160% "Inter";
    color: rgba(245, 247, 250, 1);
}

.backToTop {
    width: 32px;
    height: 32px;
    background-color: rgba(255, 108, 46, 1);
    border-radius: 17px;
    border: none;
    cursor: pointer;
}

@media (min-width: 900px) {
    .footer {
        padding-inline: 165px;
    }
}
.navLinks {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.navLinks ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 24px;
}

.navLinks a {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: rgba(166, 166, 166, 1);
    text-decoration: none;
}

.active {
    color: rgba(233, 135, 88, 1) !important;
}
