.formSection {
    --font-size-base: 14px;
    --border-radius: 8px;
    --input-padding: 12px 20px;

    * {
        font-family: Inter;
        font-weight: 500;
    }
}

.formSection {
    display: grid;
    place-items: center;
    padding: 0;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    color: var(--white);
    background-color: var(--black-2);
}

.title {
    text-align: center;
    font-size: 30px;
    color: var(--white);
    max-width: 280px;
    margin: 0 auto 70px;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--black-2);
    padding: 66px 20px;
    width: 100%;
    max-width: 900px;
}

.row {
    display: flex;
    gap: 12px;
    width: 100%;
}

/* row firstname and lastname */
.form > .row:first-of-type {
    flex-direction: column;
    gap: 20px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

.inputGroup.areaCodeGroup {
    flex: 0 0 30%;
}

.formSection label {
    font-weight: 500;
    font-size: 14px;
    color: var(--white);
}

.formSection input,
.formSection textarea {
    padding: var(--input-padding);
    border-radius: var(--border-radius);
    font-size: var(--font-size-base);
    width: 100%;
    background-color: var(--white);
    color: var(--black);
    border: 1px solid transparent;
    resize: none;
    caret-color: var(--primary);
    transition: border-color 0.2s ease;

    &::placeholder {
        color: var(--black-7);
    }

    &:focus {
        outline: none;
        border-color: var(--primary);
    }
}

.formSection input[type="number"]::-webkit-inner-spin-button,
.formSection input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* row area code and phone */
.form > .row:nth-of-type(2) {
    gap: 8px;
}

.areaCodeInput {
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    background-color: var(--white);
    overflow: hidden;
    border: 1px solid transparent;
    transition: border-color 0.2s ease;
}

.areaCodeInput:focus-within {
    border-color: var(--primary);
}

.areaCode {
    padding: 12px 10px 12px 20px;
    font-size: var(--font-size-base);
    color: var(--black);
}

.areaCodeInput input {
    border: none;
    outline: none;
    padding: 12px 10px;
    font-size: var(--font-size-base);
    flex: 1;
    color: var(--black);
}

.form button {
    width: 100%;
    padding-block: 20px;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: 0.3s ease;
}

.form button:hover {
    background-color: var(--secondary);
}

.errorInput {
    border: 1px solid var(--color-error) !important;
}

.formError {
    color: var(--white);
    font-size: var(--font-size-base);
    text-align: center;
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.formSuccess {
    color: var(--primary);
    font-size: var(--font-size-base);
    text-align: center;
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.form > .row:nth-of-type(2) {
    gap: 8px;
}

@media (min-width: 900px) {
    .formSection {
        padding-block: 100px;
        background-color: var(--black);
        border-radius: 0;
    }

    .title {
        max-width: none;
    }

    .form {
        padding: 66px 86px;
        border-radius: 20px;
        background-color: var(--black-2);
    }

    /* row firstname and lastname */
    .form > .row:first-of-type {
        flex-direction: row;
        gap: 12px;
    }

    .row {
        flex-direction: row;
    }

    .formSection label {
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    .row {
        display: flex;
        flex-direction: column;
    }
}
