.pageHero {
  padding-block: 44px;
  padding-inline: 25px 22px;
  width: 100%;
  display: grid;
  position: relative;
  place-items: center;
  background-image: linear-gradient(to right bottom, #fffaf8, #fff6f2, #fff2ec, #ffede7, #ffe9e1);
}

.article {
  gap: 43px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
}

.container {
  position: relative;
  z-index: 2;
  width: 100%;
  gap: 58px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title {
  font: normal 700 40px/44px "Inter";
  color: var(--black);
  position: relative;
  top: 0px;
  scale: 1;
  transition: ease-out 0.7s;

  @starting-style {
    top: -14px;
    scale: 0.93;
    opacity: 0;
  }
}

.text {
  font: normal 500 18px/28px "Inter";
  mix-blend-mode: normal;
  letter-spacing: -0.2px;
  position: relative;
  text-align: start;
  color: var(--black-2);
  top: 0px;

  transition: ease-out 0.7s;

  @starting-style {
    top: 10px;

    opacity: 0;
  }
}

.withText .container {
  gap: 18px;
}

.withText .container button {
  margin-top: 18px;
  position: relative;
  top: 0px;
  transition: ease-out 0.7s;

  @starting-style {
    top: -10px;

    opacity: 0;
  }
}

.children {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
  margin-left: auto;
  width: 100%;
  max-width: 413px;
  aspect-ratio: 3/4;
  border-radius: 20px;
  z-index: 3;
  background-color: var(--primary-9);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  left: 0px;
  transition: ease-out 0.7s 0.2s;

  @starting-style {
    scale: 0.93;
    opacity: 0;
    left: 10px;
  }
}

@media (max-width: 900px) {
  .article {
    flex-direction: column;
    gap: 40px;
  }

  .content {
    max-width: none;
    width: 100%;
    aspect-ratio: unset;
    height: auto;
  }
}

@media (min-width: 900px) {
  .pageHero {
    padding-block: 44px 100px;
    padding-inline: 130px 105px;
  }

  .title {
    font: normal 700 clamp(36px, 8dvh, 60px) / 110% "Inter";
  }

  .text {
    font: normal 400 19px/168% Inter;
  }

  .content {
    height: clamp(400px, 60dvh, 550px);
  }
}

@media (min-width: 1440px) {
  .pageHero {
    padding-block: clamp(44px, 8dvh, 128px) 100px;
    padding-inline: 130px 105px;
  }

  .content {
    height: clamp(480px, 72dvh, 558px);
  }
}
