.about {
    width: 100%;
    display: flex;
    padding: 114px 20px;
    align-items: center;
    margin-bottom: 100px;
    flex-direction: column;
    justify-content: center;
}

.aboutHero {
    gap: 28px;
    display: flex;
    flex-direction: column;
}

.title {
    font: normal 700 34px/120% "Inter";
    color: var(--black);
    text-align: center;
}

.text {
    font: normal 500 18px/26px "Inter";
    letter-spacing: -0.2px;
    color: var(--black-3);
    text-align: center;
    max-width: 720px;
}

.aboutArticle {
    width: 100%;
    display: grid;
    place-items: center;
    padding-block: 56px 0px;
}

@media (max-width: 900px) {
    .about {
        padding: 40px 24px;
    }

    .aboutHero {
        align-items: flex-start;
    }

    .aboutHero p {
        text-align: start;
    }

    .aboutArticle {
        position: relative;
    }

    .slide {
        position: absolute;
        inset: 0;
        opacity: 0;
        height: 100%;
        transform: translateX(20px);
        transition:
        opacity 0.4s ease,
        transform 0.4s ease;
    }

    .active {
        opacity: 1;
        transform: translateX(0);
        z-index: 2;
    }

    .hidden {
        opacity: 0;
        z-index: 1;
        transform: translateX(-20px);
        pointer-events: none;
    }

    .aboutContainer {
        position: relative;
        width: 100%;
        aspect-ratio: 1/1;
        max-width: calc(100% - 40px);
    }

    .buttons {
        gap: 12px;
        z-index: 3;
        right: 24px;
        bottom: -24px;
        display: flex;
        position: absolute;
    }

    .btn {
        width: 44px;
        height: 44px;
        display: grid;
        aspect-ratio: 1/1;
        place-items: center;
    }

    .btn span {
        display: none;
    }

    .btn > div {
        width: 14px;
        height: 14px;
        aspect-ratio: 1/1;
    }

    .btn div svg {
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
    }

    .buttonLeft > div {
        transform: rotate(180deg);
    }

    .buttonLeft {
        background: var(--black-10);
        border-color: var(--black-10);
    }

    .buttonLeft div svg path {
        stroke: var(--black-6);
        fill: var(--black-6);
        transition: ease-out 0.3s;
    }

    .buttonLeft:is(:hover, :active) {
        background: var(--black-9);
        border-color: var(--black-9);
    }

    .buttonLeft:is(:hover, :active) div svg path {
        fill: var(--black-3);
        stroke: var(--black-3);
    }
}

@media (min-width: 900px) {
    .about {
        padding: 156px 136px;
    }

    .aboutHero {
        gap: 22px;
    }

    .title {
        font: normal 700 40px/120% "Inter";
    }

    .aboutArticle {
        padding-block: 80px 0px;
    }

    .aboutContainer {
        gap: 18px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}