.billingSwitch {
    background: var(--white);
    box-shadow: 0px 4px 9px 0px #0000000d;
    padding: 5px;
    border-radius: 12px;
    max-width: 360px;
    margin: 0 auto 45px;
    display: flex;
    justify-content: space-between;
}

.switchButton {
    width: fit-content;
    height: 56px;
    padding-inline: 10px;
    border: none;
    border-radius: 8px;
    background: transparent;
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
}

.switchButton:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.active {
    background: var(--primary);
    color: var(--white);

    &:hover {
        background-color: var(--primary);
    }
}

@media (min-width: 1100px) {
    .billingSwitch {
        width: 525px;
        max-width: none;
        margin: 0 auto 67px;
        padding: 8px;
    }

    .switchButton {
        width: 160px;
        height: 56px;
        padding-inline: 0;
        font-size: 18px;
    }
}
