.pageSection {
    padding-block: 40px;
    background: var(--primary-11);
}

.container {
    width: 100%;
    gap: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 136px 126px;
}

.alt .container {
    justify-content: space-between;
}

.rowReverse {
    flex-direction: row-reverse;
}

.children {
    gap: 28px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.children h3,
.children strong {
    font: normal 700 34px/120% "Inter";
}

.children h3 {
    color: var(--black-2);
}

.children strong {
    color: var(--primary);
}

.children p {
    font: normal 500 18px/26px "Inter";
    letter-spacing: -0.2px;
    color: var(--black-2);
}

.children ul {
    list-style: none;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.alt .children ul {
    gap: 0px;
}

.children li {
    display: flex;
    position: relative;
    padding-left: 36px;
    align-items: center;
    color: var(--primary);
    font: normal 500 20px/133% "Inter";
}

.alt .children li {
    font: normal 500 14px/143% "Inter";
    letter-spacing: -0.2px;
    mix-blend-mode: normal;
    color: var(--black);
    padding-left: 0px;
}

.pageSection:not(.alt) .children li::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("./assets/checklist.svg");
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

.content {
    width: 100%;
    display: grid;
    max-width: 636px;
    aspect-ratio: 4/3;
    place-items: center;
}

.alt .content {
    max-width: 409px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

@media (max-width: 900px) {
    .container {
        padding-inline: 20px 20px;
        flex-direction: column;
        gap: 60px;
    }

    .children ul {
        align-items: flex-start;
    }

    .content {
        max-width: 100%;
        aspect-ratio: unset;
    }
}

@media (min-width: 900px) {
    .pageSection {
        padding-block: 140px;
    }

    .children h3,
    .children strong {
        font: normal 700 40px/120% "Inter";
    }
}
