.planCard {
  background: var(--white);
  box-shadow: 0px 4px 9px 0px #0000000d;
  border-radius: 20px;
  padding: 42px 20px 24px;
  text-align: center;
  height: fit-content;
  transition: all 0.3s ease;

  * {
    color: var(--global);
    font-weight: 500;
  }
}

.header {
  padding-top: 30px;
  margin-bottom: 30px;
  min-height: 215px;
}

.planCard .title {
  font-size: 30px;
  font-weight: 700;
}

.planCard .subtitle {
  font-size: 24px;
  font-weight: 400;
  color: var(--primary);
}

.priceContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.planCard .currency {
  font-size: 18px;
  margin-block: auto;
  color: var(--black-3);
}

.planCard .priceWhole {
  font-size: 50px;
  font-weight: 700;
}

.planCard .priceCents {
  font-size: 22px;
  font-weight: 700;
  align-self: flex-end;
}

.planCard .perDevice {
  font-size: 12px;
  text-transform: uppercase;
  color: var(--black-5);
}

.featuresContainer {
  background: #f9fafb;
  padding: 22px 24px 40px;
  border-radius: 10px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.planCard .features li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  text-align: start;
}

.planCard .button {
  width: 100%;
  max-width: 260px;
  height: 64px;
  background: var(--primary);
  color: var(--white);
  border: none;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
  margin-inline: auto;
  margin-top: 30px;

  &:hover {
    background-color: var(--secondary);
  }
}

.recommended {
  position: relative;
  background: var(--primary);
  box-shadow: none;
  min-height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.recommended::after {
  content: "";
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
  width: 670px;
  height: 92%;
  background-color: var(--primary-3);
  border-radius: 50%;
  z-index: -1;
}

.recommended > * {
  position: relative;
  z-index: 2;
}

.recommended header {
  padding-top: 0;
}

.recommended .title,
.recommended .subtitle,
.recommended .currency,
.recommended .priceWhole,
.recommended .priceCents,
.recommended .perDevice {
  color: var(--white);
}

.recommended .featuresContainer {
  padding: 36px 24px 40px;
}

.recommended .features {
  gap: 20px;
}

.recommended .priceContainer {
  margin-top: 50px;
}

.recommended .featuresContainer {
  background: var(--white);
}

.headerToBillingText {
  padding-top: 0;
}

.planCard .billingText,
.planCard .billingPrice {
  margin-top: 14px;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--black-2);
}

.planCard .billingPrice {
  font-weight: 700;
}

.recommended .billingText,
.recommended .billingPrice {
  color: var(--white);
}

@media (min-width: 1100px) {
  .planCard {
    max-width: 374px;
  }

  .features li {
    font-size: 18px;
  }

  .recommended {
    max-height: 736px;
  }
}
